<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">CREAR PRODUCTO</span>
          <form class="mt-3" [formGroup]="productForm" (ngSubmit)="agregarProducto()">
            <div class="mb-3 mt-3">
              <input type="text" formControlName="producto" class="form-control form-control-lg"
                     placeholder="Producto">
              <div class="text-danger"
                   *ngIf="productForm.get('producto')?.hasError('required') && productForm.get('producto')?.touched">
                <span>El nombre del producto es <strong>obligatorio</strong></span>
              </div>
            </div>
            <div class="mb-3 mt-3">
              <input type="text" formControlName="categoria" class="form-control form-control-lg" placeholder="Categoria">
              <div class="text-danger"
                   *ngIf="productForm.get('categoria')?.hasError('required') && productForm.get('categoria')?.touched">
                <span>La categoria es <strong>obligatoria</strong></span>
              </div>
            </div>
            <div class="mb-3 mt-3">
              <input type="text" formControlName="ubicacion" class="form-control form-control-lg" placeholder="Ubicacion">
              <div class="text-danger"
                   *ngIf="productForm.get('ubicacion')?.hasError('required') && productForm.get('ubicacion')?.touched">
                <span>La ubicacion es <strong>obligatorio</strong></span>
              </div>
            </div>
            <div class="mb-3 mt-3">
              <input type="number" formControlName="precio" class="form-control form-control-lg" placeholder="Precio">
              <div class="text-danger"
                   *ngIf="productForm.get('precio')?.hasError('required') && productForm.get('precio')?.touched">
                <span>El precio es <strong>obligatorio</strong></span>
              </div>
            </div>
            <div class="mb-3">
              <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
              <button type="submit" [disabled]="productForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
